# Enable URL rewriting
RewriteEngine On

# Redirect clean URLs to .html files
RewriteRule ^about$ about.html [L]
RewriteRule ^contact$ contact.html [L]

RewriteRule ^project1$ project1.html [L]
RewriteRule ^project2$ project2.html [L]


# Set a default directory index
DirectoryIndex index.html
